<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app">
	
	<div style="margin:0 auto;width:900px;font-size:0.9rem;">
		<table style="width: 100%;text-align: left;">
			<tr>
				<td>99</td>
				<td>2021-03-02 04:54:06</td>
				<td>Григорий Носов</td>
				<td>Grigoriy Nosov</td>
				<td>b61ca142-9c12-46c0-a464-492ee8070d3e</td>
				<td>sokolov.sv.200973@gmail.com</td>
			</tr>
			<tr>
				<td>99</td>
				<td>2021-03-02 04:54:06</td>
				<td>Falodya vovaivan@mail.ru</td>
				<td>Grigoriy Nosov</td>
				<td></td>
				<td>sokolov.sv.200973@gmail.com</td>
			</tr>
		</table>
	</div>
	
	</div>
  </body>
</html>
